body{
    background-color: black;
    color: wheat;
}
#img {
        float: left;
        top: -1175px;
        position: relative;
        left: 60px;
        font-size: 42px;
        height: 170px;
        width: 300px;
        font-weight: 400;


}
    
.btn{
    float: right;
    position: relative;
    top: -1280px;
    right: 70px;

}
#btn1{
    font-size: 15px;
    background-color: black;
    color: white;
    float: right;
    right: 200px;
    position: relative;
    width: 130px;
    height: 40px;
    border: solid,black ,1px;
    border-radius: 5px;

    

}
#btn2{
    font-size: 14px;
    background-color: red;
    color: white;
    border: solid red 1px;
    border-radius: 5px;
    width: 70px;
    height: 35px;
    position: relative;
    float: right;
    right: -60px;
    font-weight: 600;

}
#smimg{
    height: 25px;
    width: 25px;
    position: relative;
    float: left;
    bottom: -4px;
}
#bg{
    opacity: 0.4;
}
#onepar{
   color: white;
   font-size: 45px; 
   font-weight: 1000;
   position: relative;
   float: right;
   top: 240px;
   right: -160px;
   font-family: Arial, Helvetica, sans-serif;
   
}
#par1{
    color: white;
    font-size: 25px;
    float: right;
    position: relative;
    top: 210px;
    right: 360px;
    font-weight: 400;
    line-height: 5;
    font-family: helvetica,sans-serif;
    
}
#par2{
    color: white;
    font-size: 22px;
    float: right;
    position: relative;
    top: 325px;
    right: -295px;
    font-weight: 100;
    font-family: Helvetica, sans-serif;
    line-height:0.01;
    text-size-adjust: 10%;

}

#ab{
    position: relative;
    float: right;
    top:230px;
    opacity: 09;
    border: solid,black,1px;
    border-radius: 5px;
    height: 60px;
	width: 100vw;
	padding: 0 5px;
    right: -469px;

}

#myemail{
    height: 50px;
	width: 30vw;
	padding-top: 0.5px;
    border: solid white,1px;
    border-radius: 3px;
    background-color: black;
    font-size: 17px;
    padding-left: 2px;
    padding-right: 2px;
    justify-content: center;
    border-color:white;
   /* border-bottom: 0.4px;*/
    /*border-right: 0.2px;*/
    border-width: 0.01px;
    border-bottom-width: 0.01px;
    


}
#bt{
    height: 56px;
	width: 15vw;
    font-size: 20px;
    font-weight: 600;
    background-color:rgb(193, 17, 25);
    color: white;
    border: solid,red,1px;

    border-radius: 6px;
    border-color: rgb(193,17,25);
    position: relative;
    float: right;
    right:690px;
}
#Option{
    font-size: 15px;
    background-color: black;
    color:white
}
#ef{

}
#cd{
    font-size: 15px;
    
}
